TEAM_ID=
DEVELOPMENT_TEAM=$(TEAM_ID)

PRODUCT_NAME=Luvia
APP_BUNDLE_IDENTIFIER=tech.asahiart.luvia
PRODUCT_BUNDLE_IDENTIFIER=$(APP_BUNDLE_IDENTIFIER)
WIDGET_BUNDLE_IDENTIFIER=$(APP_BUNDLE_IDENTIFIER).widgets
APP_GROUP_IDENTIFIER=group.$(APP_BUNDLE_IDENTIFIER)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=0.1.0
IPHONEOS_DEPLOYMENT_TARGET=17.0
