<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Luvia connects to Luvus hosts that you add.</string>
	<key>NSCameraUsageDescription</key>
	<string>Luvia uses the camera to scan the pairing QR code printed by luvia-host.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
